@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.accounts {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width: 90%;
    background-color: rgba(172, 172, 172, 0.144);
    border-radius: 1.5vw;
    @include mobile-only {
        width: 100%;
    }
}