@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.main-content {
    width: 90%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing:border-box;
    padding-left: 5vw;
     @include mobile-only {
         flex-direction:column;
     }
    
}