@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.header {

    width: 100vw;
    height:10vh;
    display:flex;
    justify-content:flex-start;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid #6247d1;;
    & img {
        width: 10vw;
        margin-left: 1vw;
        object-fit:contain;
        @include mobile-only {
            width: 100%;
        }
    }
}